<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    h1 {
      color: #333;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #999;
      padding: 8px 12px;
      text-align: left;
      
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
      
    }
    .action-buttons {
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }
  </style>
</head>
<body>

  <h1>User Table</h1>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
            <td class="action-buttons">
                <form action="" method="">
                    <button>Read</button>
                </form>
                <form action="/user/<%=user.ID%>/edit" method="get">
                    <button>Upadte</button>
                </form>
                <form action="" method="">
                    <button>Delete</button>
                </form>
            </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>